.idea
*.c
*.h
*.pyc
*.so
*.o
parlay/ui/node_modules
parlay/ui/bower_components
parlay/ui/app/npm-debug.log
.DS_Store
parlay/ui/npm-debug.log
parlay/ui/dev
parlay/ui/dist
parlay/ui/doc
parlay/ui/coverage
parlay/ui/tmp
